<!DOCTYPE html>
<html lang="en">
	<head>
		<title>LDS Archive</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"></link>
		<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
	</head>
	<body>
		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">LDS Archive</a>
					<ul class="nav">
						<li><a href="/pages/projects">Projects</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<%= yield %>
			<footer>
				© <%= (Time.new).year %> Blake Erickson.
			</footer>
		</div>


	</body>
</html>